<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>PawnScript | Verificacion</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/src/style.css">

    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>
    
    <center><img class="circular" src="https://cdn.discordapp.com/avatars/703154638584807524/5124251dd3f39b0125772398cd5f9cf6.webp" alt="" /></center>
    <center><h1 class="estadisticas">Pulsa el boton para obtener un codigo de Verificación.</h1></center>
    <center><button class="button">Verificarse</button></center>
    
  </body>
</html>
