<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>PawnScript | Verificacion</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/codemirror.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/monokai.css">
  
    <link rel="stylesheet" href="./css/style.css">

    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>

  <section class="logo-home">
    <img src="https://media.discordapp.net/attachments/737125512907980850/742245239347085332/BwOgsJINMaxbAAAAAElFTkSuQmCC.png" class="logo-home" alt="Logo PawnScript 2020">
  </section>
    
	 
	 <div class="contenedor">
     <div class="categoria-home">
       <div class="hijo">Hola chamos e.e</div>
     </div>
		<div class="hijo">B</div>
	</div>
    
    
  </body>
</html>
